<!DOCTYPE html>
<html>
  <head>
    <title>Trade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  </head>
  <body>
    <form method="post" action="">
      <% if (data && data.error) { %>
        <p class="error"><%= data.error %></p>  
      <% } %>
      <% if (data && data.success) { %>
        <p class="success"><%= data.success %></p>  
      <% } %>
      <input type="radio" name="side" id="" value="BUY" <% if (data && data.side != "SELL") { %> checked <% } %>> <span class="buy">MUA</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="side" id="" value="SELL" <% if (data && data.side == "SELL") { %> checked <% } %>> <span class="sell">BÁN</span>
      <br>
      <br>
      <input type="text" name="symbol" id="symbol" style="width: 140px;" value="<% if (data && data.symbol) { %><%= data.symbol %><% } %>" placeholder="Mã VNDC...">
      <select name="leverage" id="leverage" required>
        <% for(var i = 10; i <= 125; i++) { %>
          <% if(i%5==0) { %>
          <option value="<%= i %>" <% if (data && data.leverage == i) { %> selected <% } %>><%= i %></option>
          <% } %>
        <% } %>
      </select>
      <input type="number" name="margin" id="margin" style="width: 140px;" value="<% if (data && data.margin) { %><%= Math.floor(data.margin) %><% } %>" placeholder="Ký quỹ..." required>
      <br>
      <input type="number" name="stop_market_price" value="" style="width: 140px; display: none;" placeholder="Giá stop...">
      <br>
      <input type="checkbox" name="take_profit" id="take_profit" <% if (data && data.take_profit) { %> checked <% } %>> TP <%= data.tp %>%
      <input type="checkbox" name="stop_loss" id="stop_loss" <% if (data && data.stop_loss) { %> checked <% } %>> SL <%= data.sl %>%
      <br>
      <br>
      <input type="hidden" name="type" value="<% if (data && data.type) { %><%= data.type %><% } %>">
      <input type="hidden" name="min_size" id="min_size" value="<% if (data && data.min_size) { %><%= data.min_size %><% } %>">
      <button id="market" type="submit" style="width: 49%;">Đặt Market</button>
      <button id="stop_market" type="submit" style="width: 49%;">Đặt Stop Market</button>
      <br>
      <br>
      <button id="showList" type="button" style="background-color: rgb(30, 141, 35); display: block; margin: 0 auto; width: auto;">Danh sách lệnh</button>
      <table id="showListTable" class="table">
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      <button id="showHistory" type="button" style="background-color:rgb(54, 54, 54); display: block; margin: 0 auto; width: auto;">Lịch sử biến động</button>
      <table id="showHistoryTable" class="table">
        <tbody>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
      <textarea name="cookie" rows="3" placeholder="Cookie..."><% if (data && data.cookie) { %><%= data.cookie %><% } %></textarea>
    </form>
    <script type="text/javascript">
      $(function() {
        $("#market").click(function() {
          $("input[name=type]").val('MARKET');
          $("input[name=stop_market_price]").attr('required', false).hide();
        });

        $("#stop_market").click(function() {
          $("input[name=type]").val('STOP_MARKET');
          $("input[name=stop_market_price]").attr('required', true).show();
        });

        $("#symbol").focus(function() {
          $(this).select();
        });

        $("#symbol").focus().select();

        var availableTags = [
          "AAVEVNDC",
          "ATOMVNDC",
          "AVAXVNDC",
          "BADGERVNDC",
          "BCHVNDC",
          "BLURVNDC",
          "BNBVNDC",
          "BTCVNDC",
          "FXSVNDC",
          "QTUMVNDC",
          "RACA1000VNDC",
          "RIFVNDC",
          "SATS1000VNDC",
          "STORJVNDC",
          "STPTVNDC",
          "CRVVNDC",
          "EDUVNDC",
          "GRTVNDC",
          "POWRVNDC",
          "PYTHVNDC",
          "ETHUSDT",
          "HFTVNDC",
          "ALPHAVNDC",
          "ICPVNDC",
          "ACEVNDC",
          "SUPERVNDC",
          "RATS1000VNDC",
          "NFPVNDC",
          "QIVNDC",
          "ARBVNDC",
          "AUCTIONVNDC",
          "KSMVNDC",
          "MOVRVNDC",
          "ARKMVNDC",
          "DENTVNDC",
          "ACHVNDC",
          "CELOVNDC",
          "DODOVNDC",
          "GODSVNDC",
          "JTOVNDC",
          "KASVNDC",
          "LOOKSVNDC",
          "MAGICVNDC",
          "MINAVNDC",
          "NEOVNDC",
          "HIGHVNDC",
          "IOSTVNDC",
          "JOEVNDC",
          "LEVERVNDC",
          "LINKVNDC",
          "MAVVNDC",
          "MKRVNDC",
          "NMRVNDC",
          "LINAUSDT",
          "ETHWVNDC",
          "ONEVNDC",
          "XEMVNDC",
          "BAKEVNDC",
          "BNXVNDC",
          "EGLDVNDC",
          "COREVNDC",
          "ETHVNDC",
          "MBLVNDC",
          "MEMEVNDC",
          "NTRNVNDC",
          "OPVNDC",
          "POLYXVNDC",
          "COMPVNDC",
          "MDTVNDC",
          "OCEANVNDC",
          "OPUSDT",
          "ONUSVNDC",
          "PEPE1000VNDC",
          "PERPVNDC",
          "RDNTVNDC",
          "SHIB1000VNDC",
          "ROSEVNDC",
          "SANDVNDC",
          "SEIVNDC",
          "ORDIVNDC",
          "BONDVNDC",
          "GLMRVNDC",
          "ADAVNDC",
          "AERGOVNDC",
          "APTVNDC",
          "SSVVNDC",
          "NKNVNDC",
          "RNDRVNDC",
          "SKLVNDC",
          "SLPVNDC",
          "SNTVNDC",
          "STARL1000VNDC",
          "STEEMVNDC",
          "STGVNDC",
          "FLOKI1000VNDC",
          "GALAVNDC",
          "ADAUSDT",
          "SOLUSDT",
          "IOTAVNDC",
          "HBARVNDC",
          "SPELLVNDC",
          "STMXVNDC",
          "STXVNDC",
          "SUIVNDC",
          "LUNC1000VNDC",
          "AXSVNDC",
          "SNXVNDC",
          "CETUSVNDC",
          "TRBVNDC",
          "RAREVNDC",
          "STRAXVNDC",
          "SXPVNDC",
          "TIAVNDC",
          "TOKENVNDC",
          "TRXVNDC",
          "TRUVNDC",
          "TWTVNDC",
          "USTCVNDC",
          "VICVNDC",
          "VINU1000000VNDC",
          "TVNDC",
          "UNFIVNDC",
          "WLDVNDC",
          "LINKUSDT",
          "ONGVNDC",
          "LPTVNDC",
          "OGNVNDC",
          "PENDLEVNDC",
          "PEOPLEVNDC",
          "UNIVNDC",
          "WAVESVNDC",
          "ARPAVNDC",
          "BANDVNDC",
          "BIGTIMEVNDC",
          "BNBUSDT",
          "ETCVNDC",
          "DYDXVNDC",
          "GASVNDC",
          "CTKVNDC",
          "BSVVNDC",
          "EOSVNDC",
          "FTMVNDC",
          "DOTVNDC",
          "BONK1000VNDC",
          "ONSVNDC",
          "AMBVNDC",
          "APEVNDC",
          "ARKVNDC",
          "ATAVNDC",
          "AUDIOVNDC",
          "BLZVNDC",
          "BNTVNDC",
          "CEEKVNDC",
          "CELVNDC",
          "KAVAVNDC",
          "KNCVNDC",
          "CFXVNDC",
          "LITVNDC",
          "AGIXVNDC",
          "BELVNDC",
          "WAXPVNDC",
          "MNAIVNDC",
          "WOOVNDC",
          "XRPVNDC",
          "YFIVNDC",
          "CTSIVNDC",
          "BTCUSDT",
          "COTIVNDC",
          "ORBSVNDC",
          "PEPE1000USDT",
          "XRPUSDT",
          "SOLVNDC",
          "FILVNDC",
          "GTCVNDC",
          "HIFIVNDC",
          "IDVNDC",
          "SUSHIVNDC",
          "XLMVNDC",
          "ZILVNDC",
          "API3VNDC",
          "COMBOVNDC",
          "ARBUSDT",
          "ETCUSDT",
          "SHIB1000USDT",
          "LINAVNDC",
          "LOOMVNDC",
          "GMTVNDC",
          "HOOKVNDC",
          "ICXVNDC",
          "KEYVNDC",
          "LDOVNDC",
          "LQTYVNDC",
          "LTCVNDC",
          "MASKVNDC",
          "PHBVNDC",
          "RADVNDC",
          "RUNEVNDC",
          "1INCHVNDC",
          "AGLDVNDC",
          "C98VNDC",
          "CELRVNDC",
          "DOGEVNDC",
          "NEARVNDC",
          "CHZVNDC",
          "CYBERVNDC",
          "DOGEUSDT",
          "FRONTVNDC",
          "GMXVNDC",
          "MATICVNDC",
          "MTLVNDC",
          "FLMVNDC",
          "BICOVNDC",
          "CAKEVNDC",
          "FETVNDC",
          "IMXVNDC",
          "XVSVNDC",
          "YGGVNDC",
          "ZRXVNDC",
          "INJVNDC"
        ];
        
        var tagLimits = [
          "AAVEVNDC|25|0.01",
          "ATOMVNDC|40|0.01",
          "AVAXVNDC|50|0.1",
          "BADGERVNDC|25|1",
          "BCHVNDC|75|0.01",
          "BLURVNDC|20|1",
          "BNBVNDC|75|0.001",
          "BTCVNDC|125|0.0001",
          "FXSVNDC|25|1",
          "QTUMVNDC|25|1",
          "RACA1000VNDC|25|1",
          "RIFVNDC|50|1",
          "SATS1000VNDC|25|10",
          "STORJVNDC|30|1",
          "STPTVNDC|50|1",
          "CRVVNDC|30|1",
          "EDUVNDC|40|1",
          "GRTVNDC|25|1",
          "POWRVNDC|25|1",
          "PYTHVNDC|25|1",
          "ETHUSDT|100|0.001",
          "HFTVNDC|25|1",
          "ALPHAVNDC|25|1",
          "ICPVNDC|25|1",
          "ACEVNDC|50|1",
          "SUPERVNDC|25|1",
          "RATS1000VNDC|25|1",
          "NFPVNDC|50|1",
          "QIVNDC|25|1",
          "ARBVNDC|50|1",
          "AUCTIONVNDC|50|0.1",
          "KSMVNDC|25|0.1",
          "MOVRVNDC|25|0.1",
          "ARKMVNDC|25|1",
          "DENTVNDC|25|100",
          "ACHVNDC|25|1",
          "CELOVNDC|25|1",
          "DODOVNDC|25|1",
          "GODSVNDC|25|1",
          "JTOVNDC|25|1",
          "KASVNDC|25|1",
          "LOOKSVNDC|25|1",
          "MAGICVNDC|25|1",
          "MINAVNDC|25|1",
          "NEOVNDC|30|1",
          "HIGHVNDC|30|1",
          "IOSTVNDC|30|1",
          "JOEVNDC|16|1",
          "LEVERVNDC|30|1",
          "LINKVNDC|50|0.01",
          "MAVVNDC|40|1",
          "MKRVNDC|25|0.001",
          "NMRVNDC|10|1",
          "LINAUSDT|40|1",
          "ETHWVNDC|25|1",
          "ONEVNDC|25|1",
          "XEMVNDC|25|1",
          "BAKEVNDC|25|1",
          "BNXVNDC|25|1",
          "EGLDVNDC|25|0.1",
          "COREVNDC|25|1",
          "ETHVNDC|100|0.001",
          "MBLVNDC|25|1",
          "MEMEVNDC|25|1",
          "NTRNVNDC|25|1",
          "OPVNDC|50|0.001",
          "POLYXVNDC|25|1",
          "COMPVNDC|30|0.01",
          "MDTVNDC|25|1",
          "OCEANVNDC|25|1",
          "OPUSDT|50|0.1",
          "ONUSVNDC|10|1",
          "PEPE1000VNDC|30|1000",
          "PERPVNDC|16|1",
          "RDNTVNDC|25|1",
          "SHIB1000VNDC|50|1",
          "ROSEVNDC|20|1",
          "SANDVNDC|50|1",
          "SEIVNDC|25|1",
          "ORDIVNDC|30|0.1",
          "BONDVNDC|25|1",
          "GLMRVNDC|20|1",
          "ADAVNDC|50|1",
          "AERGOVNDC|50|1",
          "APTVNDC|50|0.1",
          "SSVVNDC|30|0.1",
          "NKNVNDC|30|1",
          "RNDRVNDC|30|1",
          "SKLVNDC|25|1",
          "SLPVNDC|25|1",
          "SNTVNDC|25|1",
          "STARL1000VNDC|25|1",
          "STEEMVNDC|25|1",
          "STGVNDC|25|1",
          "FLOKI1000VNDC|30|50",
          "GALAVNDC|50|1",
          "ADAUSDT|50|1",
          "SOLUSDT|50|1",
          "IOTAVNDC|50|1",
          "HBARVNDC|25|1",
          "SPELLVNDC|25|1",
          "STMXVNDC|15|1",
          "STXVNDC|50|1",
          "SUIVNDC|40|1",
          "LUNC1000VNDC|50|1",
          "AXSVNDC|25|1",
          "SNXVNDC|25|1",
          "CETUSVNDC|25|1",
          "TRBVNDC|20|0.1",
          "RAREVNDC|25|1",
          "STRAXVNDC|25|1",
          "SXPVNDC|25|1",
          "TIAVNDC|25|1",
          "TOKENVNDC|25|1",
          "TRXVNDC|50|1",
          "TRUVNDC|30|1",
          "TWTVNDC|25|1",
          "USTCVNDC|50|1",
          "VICVNDC|30|1",
          "VINU1000000VNDC|25|1",
          "TVNDC|25|1",
          "UNFIVNDC|25|1",
          "WLDVNDC|25|1",
          "LINKUSDT|50|0.01",
          "ONGVNDC|25|1",
          "LPTVNDC|10|1",
          "OGNVNDC|25|1",
          "PENDLEVNDC|25|1",
          "PEOPLEVNDC|30|1",
          "UNIVNDC|50|0.1",
          "WAVESVNDC|30|1",
          "ARPAVNDC|30|1",
          "BANDVNDC|25|1",
          "BIGTIMEVNDC|25|1",
          "BNBUSDT|75|0.001",
          "ETCVNDC|75|0.1",
          "DYDXVNDC|50|1",
          "GASVNDC|25|1",
          "CTKVNDC|20|1",
          "BSVVNDC|50|0.1",
          "EOSVNDC|75|1",
          "FTMVNDC|30|1",
          "DOTVNDC|40|0.1",
          "BONK1000VNDC|25|1",
          "ONSVNDC|15|1",
          "AMBVNDC|20|1",
          "APEVNDC|40|1",
          "ARKVNDC|25|1",
          "ATAVNDC|25|1",
          "AUDIOVNDC|20|1",
          "BLZVNDC|20|1",
          "BNTVNDC|25|1",
          "CEEKVNDC|25|1",
          "CELVNDC|25|1",
          "KAVAVNDC|30|1",
          "KNCVNDC|30|1",
          "CFXVNDC|50|1",
          "LITVNDC|25|1",
          "AGIXVNDC|50|1",
          "BELVNDC|30|1",
          "WAXPVNDC|50|1",
          "MNAIVNDC|15|1",
          "WOOVNDC|20|1",
          "XRPVNDC|50|0.1",
          "YFIVNDC|25|0.001",
          "CTSIVNDC|25|1",
          "BTCUSDT|125|0.0001",
          "COTIVNDC|20|1",
          "ORBSVNDC|25|1",
          "PEPE1000USDT|30|20000",
          "XRPUSDT|50|0.1",
          "SOLVNDC|50|0.1",
          "FILVNDC|50|0.1",
          "GTCVNDC|25|1",
          "HIFIVNDC|25|1",
          "IDVNDC|40|1",
          "SUSHIVNDC|25|1",
          "XLMVNDC|25|1",
          "ZILVNDC|25|1",
          "API3VNDC|25|1",
          "COMBOVNDC|25|1",
          "ARBUSDT|50|1",
          "ETCUSDT|75|1",
          "SHIB1000USDT|50|20000",
          "LINAVNDC|40|1",
          "LOOMVNDC|25|1",
          "GMTVNDC|25|1",
          "HOOKVNDC|25|1",
          "ICXVNDC|20|1",
          "KEYVNDC|30|1",
          "LDOVNDC|50|1",
          "LQTYVNDC|25|1",
          "LTCVNDC|75|0.01",
          "MASKVNDC|50|0.1",
          "PHBVNDC|25|1",
          "RADVNDC|20|1",
          "RUNEVNDC|25|1",
          "1INCHVNDC|25|1",
          "AGLDVNDC|25|1",
          "C98VNDC|25|1",
          "CELRVNDC|25|1",
          "DOGEVNDC|50|1",
          "NEARVNDC|40|1",
          "CHZVNDC|25|1",
          "CYBERVNDC|20|1",
          "DOGEUSDT|50|1",
          "FRONTVNDC|25|1",
          "GMXVNDC|50|0.01",
          "MATICVNDC|50|1",
          "MTLVNDC|30|1",
          "FLMVNDC|20|1",
          "BICOVNDC|20|1",
          "CAKEVNDC|25|1",
          "FETVNDC|25|1",
          "IMXVNDC|25|1",
          "XVSVNDC|20|1",
          "YGGVNDC|15|1",
          "ZRXVNDC|25|1",
          "INJVNDC|30|0.1"
        ];

        $("#symbol").autocomplete({
          source: availableTags,
          select: function( event, ui ) {
            const item = tagLimits.find(x => x.indexOf(ui.item.value) != -1);
            const maxLeverage = item.split('|')[1];
            const minOrderSize = item.split('|')[2];
            $("#leverage").html('');
            for (var i = 10; i <= maxLeverage; i++) {
              if (i % 5 == 0) {
                $("#leverage").append('<option value='+i+'>'+i+'</option>');
              }
            }
            $("#min_size").val(minOrderSize);
          }
        });

        $("button[type=submit]").click(function() {
          $(".error, .success").hide();
        });

        $("#showList").click(function() {
          $("#showListTable tbody, #showListTable tfoot").html('');
          $.get("/list",
            function(data, status){
              if(Object.keys(data).length) {
                data.forEach(x => {
                  const plitSymbol = x.symbol.split('VNDC');
                  const typeColor = x.size > 0 ? 'green' : 'red';
                  const side = x.size > 0 ? 'BUY' : 'SELL';
                  var html = '<tr>';
                  html += '<td style="border-left: 5px solid '+ typeColor +'"><a href="https://pro.goonus.io/futures/'+plitSymbol[0]+'_VNDC" target="_blank">' + x.symbol + '</a> <small>x' + x.leverage + '</small></td>';
                  html += '<td>';
                  html += 'S=' + Math.abs(x.size) + '<br>';
                  html += 'E=' + Math.abs(Math.ceil(x.entryPrice)).toLocaleString('en-US') + '<br>';
                  html += 'P=' + Math.abs(Math.ceil(x.lastPrice)).toLocaleString('en-US');
                  html += '</td>';
                  html += '<td style="text-align: center">';
                  html += '<a href="javascript:;" onclick="dcaSymbol(\''+side+'\', \''+x.symbol+'\', '+x.leverage+', '+x.initialMargin+')" class="link">DCA1-1</a>';
                  html += '<a href="javascript:;" onclick="dcaSymbol(\''+side+'\', \''+x.symbol+'\', '+x.leverage+', '+x.initialMargin*2+')" class="link">DCA1-2</a>';
                  html += '<a href="javascript:;" onclick="sldSymbol('+x.id+', \''+x.symbol+'\', 5, '+x.initialMargin+', '+x.size+', \''+side+'\', '+x.entryPrice+')" class="link">SLd05%</a>';
                  html += '<a href="javascript:;" onclick="sldSymbol('+x.id+', \''+x.symbol+'\', 10, '+x.initialMargin+', '+x.size+', \''+side+'\', '+x.entryPrice+')" class="link">SLd10%</a>';
                  html += '<a href="javascript:;" onclick="sldSymbol('+x.id+', \''+x.symbol+'\', 20, '+x.initialMargin+', '+x.size+', \''+side+'\', '+x.entryPrice+')" class="link">SLd20%</a>';
                  html += '</td>';
                  html += '<td style="text-align: center">';
                  html += '<a href="javascript:;" onclick="closeSymbol('+x.id+', \''+x.symbol+'\', '+x.size/2+')" class="link">Đóng 50%</a>';
                  html += '<a href="javascript:;" onclick="closeSymbol('+x.id+', \''+x.symbol+'\', '+x.size+')" class="link">Đóng 100%</a>';
                  html += '</td>';
                  html += '</tr>';
                  $("#showListTable tbody").append(html);
                });
              } else {
                $("#showListTable tfoot").html('Không có vị thế nào');
              }
            }
          );
        });

        $("#showHistory").click(function() {
          $("#showHistoryTable tbody, #showHistoryTable tfoot").html('');
          $.get("/history",
            function(data, status){
              if(Object.keys(data).length) {
                var totalAmount = 0;
                data.forEach(x => {
                  totalAmount += parseFloat(x.realizedProfit);
                  const plitSymbol = x.symbol.split('VNDC');
                  const time = (new Date(x.updated)).toLocaleTimeString('en-US', { hour12: false});
                  const amountColor = x.realizedProfit > 0 ? 'green' : '#9c0808';
                  const amount = x.realizedProfit > 0 ? '+' + x.realizedProfit : x.realizedProfit;
                  const entryColor = x.side == 'SELL' ? 'green' : 'red';
                  var html = '<tr>';
                  html += '<td>' + time + '</td>';
                  html += '<td style="text-align: center; border-left: 5px solid '+ entryColor +'"><a href="https://pro.goonus.io/futures/'+plitSymbol[0]+'_VNDC" target="_blank">' + x.symbol + '</a> <small>x' + x.leverage + '</small></td>';
                  html += '<td class="amount nowrap" style="color: '+ amountColor +'">' + parseInt(amount).toLocaleString('en') + ' VNDC</td>';
                  html += '</tr>';
                  $("#showHistoryTable tbody").append(html);
                });
                const totalAmountColor = totalAmount > 0 ? '#62f302' : 'red';
                var html = '<tr>';
                  html += '<td colspan="2"></td>';
                  html += '<td class="amount nowrap" style="color: '+ totalAmountColor +'; font-size: 16px">' + parseInt(totalAmount).toLocaleString('en') + ' VNDC</td>';
                  html += '</tr>';
                $("#showHistoryTable tfoot").html(html);
              } else {
                $("#showHistoryTable tfoot").html('Không có biến động nào');
              }
            }
          );
        });

        setTimeout(function() {
          $("#showList").trigger('click');
          $("#showHistory").trigger('click');
        }, 2000);
      });

      function closeSymbol(id, symbol, size) {
        $("#showListTable tbody").html('');
        $.post("/close",
          {id, size, symbol},
          function(data, status){
            setTimeout(function() {
              $("#showList").trigger('click');
            }, 2000);
          }
        );
      }

      function dcaSymbol(side, symbol, leverage, margin) {
        $("input[name=side][value="+side+"]").prop("checked", true);
        $("#symbol").val(symbol);
        $("#leverage").val(leverage);
        $("#margin").val(Math.floor(margin));
        setTimeout(function() {
          $("#market").trigger('click');
        }, 500);
      }

      function sldSymbol(id, symbol, percent, margin, size, side, entryPrice) {
        $.post("/sld",
          {id, symbol, percent, margin, size, side, entryPrice},
          function(data, status){
            if (data.code) {
              alert(`Lưu ý: ${data.code}`);
            } else {
              alert(`Thành công! Đã cài SL +${percent}%.`);
            }
          }
        );
      }
    </script>
  </body>
</html>
