<!DOCTYPE html>
<html>
  <head>
    <title>Trade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  </head>
  <body>
    <form method="post" action="">
      <% if (data && data.error) { %>
        <p class="error"><%= data.error %></p>  
      <% } %>
      <% if (data && data.success) { %>
        <p class="success"><%= data.success %></p>  
      <% } %>
      <input type="radio" name="side" id="" value="BUY" <% if (data && data.side != "SELL") { %> checked <% } %>> <span class="buy">MUA</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="side" id="" value="SELL" <% if (data && data.side == "SELL") { %> checked <% } %>> <span class="sell">BÁN</span>
      <br>
      <br>
      <input type="text" name="symbol" id="symbol" style="width: 140px;" value="<% if (data && data.symbol) { %><%= data.symbol %><% } %>" placeholder="Mã lệnh...">
      <select name="leverage" id="" required>
        <option value="">Đòn bẩy...</option>
        <% for(var i = 0; i < data.leverages.length; i++) { %>
          <option value="<%= data.leverages[i] %>" <% if (data && data.leverage == data.leverages[i]) { %> selected <% } %>><%= data.leverages[i] %></option>
        <% } %>
      </select>
      <select name="vol" id="" required>
        <option value="">Khối lượng...</option>
        <% for(var i = 0; i < data.vols.length; i++) { %>
          <option value="<%= data.vols[i] %>" <% if (data && data.vol == data.vols[i]) { %> selected <% } %>><%= data.vols[i].toLocaleString('en-US') %> VNDC</option>
        <% } %>
      </select>
      <br>
      <br>
        <button type="submit">Đặt lệnh</button>
        <br>
        <br>
        <button id="showList" type="button" style="background-color: blueviolet;">Vị thế</button>
      <br>
      <br>
      <table class="table">
        <tbody>
        </tbody>
      </table>
      <textarea name="cookie" rows="3" placeholder="Cookie..."><% if (data && data.cookie) { %><%= data.cookie %><% } %></textarea>
    </form>

    <script type="text/javascript">
      $(function() {
        $("#symbol").focus(function() {
          $(this).select();
        });

        $("#symbol").focus().select();

        var availableTags = [
          "AAVEVNDC",
          "ATOMVNDC",
          "AVAXVNDC",
          "BADGERVNDC",
          "BCHVNDC",
          "BLURVNDC",
          "BNBVNDC",
          "BTCVNDC",
          "FXSVNDC",
          "QTUMVNDC",
          "RACA1000VNDC",
          "RIFVNDC",
          "SATS1000VNDC",
          "STORJVNDC",
          "STPTVNDC",
          "CRVVNDC",
          "EDUVNDC",
          "GRTVNDC",
          "POWRVNDC",
          "PYTHVNDC",
          "ETHUSDT",
          "HFTVNDC",
          "ALPHAVNDC",
          "ICPVNDC",
          "ACEVNDC",
          "SUPERVNDC",
          "RATS1000VNDC",
          "NFPVNDC",
          "QIVNDC",
          "ARBVNDC",
          "AUCTIONVNDC",
          "KSMVNDC",
          "MOVRVNDC",
          "ARKMVNDC",
          "DENTVNDC",
          "ACHVNDC",
          "CELOVNDC",
          "DODOVNDC",
          "GODSVNDC",
          "JTOVNDC",
          "KASVNDC",
          "LOOKSVNDC",
          "MAGICVNDC",
          "MINAVNDC",
          "NEOVNDC",
          "HIGHVNDC",
          "IOSTVNDC",
          "JOEVNDC",
          "LEVERVNDC",
          "LINKVNDC",
          "MAVVNDC",
          "MKRVNDC",
          "NMRVNDC",
          "LINAUSDT",
          "ETHWVNDC",
          "ONEVNDC",
          "XEMVNDC",
          "BAKEVNDC",
          "BNXVNDC",
          "EGLDVNDC",
          "COREVNDC",
          "ETHVNDC",
          "MBLVNDC",
          "MEMEVNDC",
          "NTRNVNDC",
          "OPVNDC",
          "POLYXVNDC",
          "COMPVNDC",
          "MDTVNDC",
          "OCEANVNDC",
          "OPUSDT",
          "ONUSVNDC",
          "PEPE1000VNDC",
          "PERPVNDC",
          "RDNTVNDC",
          "SHIB1000VNDC",
          "ROSEVNDC",
          "SANDVNDC",
          "SEIVNDC",
          "ORDIVNDC",
          "BONDVNDC",
          "GLMRVNDC",
          "ADAVNDC",
          "AERGOVNDC",
          "APTVNDC",
          "SSVVNDC",
          "NKNVNDC",
          "RNDRVNDC",
          "SKLVNDC",
          "SLPVNDC",
          "SNTVNDC",
          "STARL1000VNDC",
          "STEEMVNDC",
          "STGVNDC",
          "FLOKI1000VNDC",
          "GALAVNDC",
          "ADAUSDT",
          "SOLUSDT",
          "IOTAVNDC",
          "HBARVNDC",
          "SPELLVNDC",
          "STMXVNDC",
          "STXVNDC",
          "SUIVNDC",
          "LUNC1000VNDC",
          "AXSVNDC",
          "SNXVNDC",
          "CETUSVNDC",
          "TRBVNDC",
          "RAREVNDC",
          "STRAXVNDC",
          "SXPVNDC",
          "TIAVNDC",
          "TOKENVNDC",
          "TRXVNDC",
          "TRUVNDC",
          "TWTVNDC",
          "USTCVNDC",
          "VICVNDC",
          "VINU1000000VNDC",
          "TVNDC",
          "UNFIVNDC",
          "WLDVNDC",
          "LINKUSDT",
          "ONGVNDC",
          "LPTVNDC",
          "OGNVNDC",
          "PENDLEVNDC",
          "PEOPLEVNDC",
          "UNIVNDC",
          "WAVESVNDC",
          "ARPAVNDC",
          "BANDVNDC",
          "BIGTIMEVNDC",
          "BNBUSDT",
          "ETCVNDC",
          "DYDXVNDC",
          "GASVNDC",
          "CTKVNDC",
          "BSVVNDC",
          "EOSVNDC",
          "FTMVNDC",
          "DOTVNDC",
          "BONK1000VNDC",
          "ONSVNDC",
          "AMBVNDC",
          "APEVNDC",
          "ARKVNDC",
          "ATAVNDC",
          "AUDIOVNDC",
          "BLZVNDC",
          "BNTVNDC",
          "CEEKVNDC",
          "CELVNDC",
          "KAVAVNDC",
          "KNCVNDC",
          "CFXVNDC",
          "LITVNDC",
          "AGIXVNDC",
          "BELVNDC",
          "WAXPVNDC",
          "MNAIVNDC",
          "WOOVNDC",
          "XRPVNDC",
          "YFIVNDC",
          "CTSIVNDC",
          "BTCUSDT",
          "COTIVNDC",
          "ORBSVNDC",
          "PEPE1000USDT",
          "XRPUSDT",
          "SOLVNDC",
          "FILVNDC",
          "GTCVNDC",
          "HIFIVNDC",
          "IDVNDC",
          "SUSHIVNDC",
          "XLMVNDC",
          "ZILVNDC",
          "API3VNDC",
          "COMBOVNDC",
          "ARBUSDT",
          "ETCUSDT",
          "SHIB1000USDT",
          "LINAVNDC",
          "LOOMVNDC",
          "GMTVNDC",
          "HOOKVNDC",
          "ICXVNDC",
          "KEYVNDC",
          "LDOVNDC",
          "LQTYVNDC",
          "LTCVNDC",
          "MASKVNDC",
          "PHBVNDC",
          "RADVNDC",
          "RUNEVNDC",
          "1INCHVNDC",
          "AGLDVNDC",
          "C98VNDC",
          "CELRVNDC",
          "DOGEVNDC",
          "NEARVNDC",
          "CHZVNDC",
          "CYBERVNDC",
          "DOGEUSDT",
          "FRONTVNDC",
          "GMXVNDC",
          "MATICVNDC",
          "MTLVNDC",
          "FLMVNDC",
          "BICOVNDC",
          "CAKEVNDC",
          "FETVNDC",
          "IMXVNDC",
          "XVSVNDC",
          "YGGVNDC",
          "ZRXVNDC",
          "INJVNDC"
        ];
        
        $( "#symbol" ).autocomplete({
          source: availableTags
        });

        $("button[type=submit]").click(function() {
          $(".error, .success").hide();
        });

        $("#showList").click(function() {
          $("table tbody").html('');
          $.get("/list",
            function(data, status){
              if(Object.keys(data).length) {
                data.forEach(x => {
                  const typeColor = (parseInt(x.size) > 0) ? 'green' : 'red';
                  var html = '<tr>';
                  html += '<td style="border-left: 5px solid '+ typeColor +'">' + x.symbol + ' x' + x.leverage + '</td>';
                  html += '<td>S: ' + Math.abs(x.size) + '<br>';
                  html += 'P: ' + Math.abs(x.entryPrice).toLocaleString('en-US') + '<br>';
                  html += 'V: ' + Math.abs(x.size*x.entryPrice).toLocaleString('en-US');
                  html += '</td>';
                  html += '<td style="text-align: center">';
                  html += '<a href="javascript:;" onclick="closeSymbol(this, '+x.id+', \''+x.symbol+'\', '+x.size/2+')">';
                  html += 'Đóng 50%';
                  html += '</a>';
                  html += '</td>';
                  html += '<td style="text-align: center">';
                  html += '<a href="javascript:;" onclick="closeSymbol(this, '+x.id+', \''+x.symbol+'\', '+x.size+')">';
                  html += 'Đóng 100%';
                  html += '</a>';
                  html += '</td>';
                  html += '</tr>';
                  $("table tbody").append(html);
                });
              } else {
                $("table tbody").html('Bạn không có vị thế nào');
              }
            }
          );
        });
        
        setTimeout(function() {
          $("#showList").trigger('click');
        }, 2000);
      });

      function closeSymbol(el, id, symbol, size) {
        $("table tbody").html('');
        $.post("/close",
          {id, size, symbol},
          function(data, status){
            setTimeout(function() {
              $("#showList").trigger('click');
            }, 1000);
          }
        );
      }
    </script>
  </body>
</html>
