<!DOCTYPE html>
<html>
  <head>
    <title>Trade</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  </head>
  <body>
    <form method="post" action="">
      <% if (data && data.error) { %>
        <p class="error"><%= data.error %></p>  
      <% } %>
      <% if (data && data.success) { %>
        <p class="success"><%= data.success %></p>  
      <% } %>
      <input type="radio" name="side" id="" value="BUY" <% if (data && data.side != "SELL") { %> checked <% } %>> <span class="buy">MUA</span>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <input type="radio" name="side" id="" value="SELL" <% if (data && data.side == "SELL") { %> checked <% } %>> <span class="sell">BÁN</span>
      <br>
      <br>
      <input type="text" name="symbol" id="symbol" style="width: 140px;" value="<% if (data && data.symbol) { %><%= data.symbol %><% } %>" placeholder="Mã lệnh...">
      <select name="leverage" id="leverage" required>
        <option value="">Đòn bẩy...</option>
        <% for(var i = 0; i < data.leverages.length; i++) { %>
          <option value="<%= data.leverages[i] %>" <% if (data && data.leverage == data.leverages[i]) { %> selected <% } %>><%= data.leverages[i] %></option>
        <% } %>
      </select>
      <select name="vol" id="" required>
        <option value="">Khối lượng...</option>
        <% for(var i = 0; i < data.vols.length; i++) { %>
          <option value="<%= data.vols[i] %>" <% if (data && data.vol == data.vols[i]) { %> selected <% } %>><%= data.vols[i].toLocaleString('en-US') %> VNDC</option>
        <% } %>
      </select>
      <br>
      <input type="number" name="stop_market_price" value="" style="width: 140px; display: none;" placeholder="Giá stop...">
      <br>
        <input type="hidden" name="type" value="">
        <button id="market" type="submit" style="width: 49%;">Đặt Market</button>
        <button id="stop_market" type="submit" style="width: 49%;">Đặt Stop Market</button>
        <br>
        <br>
        <button id="showList" type="button" style="background-color: blueviolet;">DS vị thế</button>
      <br>
      <br>
      <table class="table">
        <tbody>
        </tbody>
      </table>
      <textarea name="cookie" rows="3" placeholder="Cookie..."><% if (data && data.cookie) { %><%= data.cookie %><% } %></textarea>
    </form>

    <script type="text/javascript">
      $(function() {
        $("#market").click(function() {
          $("input[name=type]").val('MARKET');
          $("input[name=stop_market_price]").attr('required', false).hide();
        });

        $("#stop_market").click(function() {
          $("input[name=type]").val('STOP_MARKET');
          $("input[name=stop_market_price]").attr('required', true).show();
        });

        $("#symbol").focus(function() {
          $(this).select();
        });

        $("#symbol").focus().select();

        var availableTags = [
          "AAVEVNDC",
          "ATOMVNDC",
          "AVAXVNDC",
          "BADGERVNDC",
          "BCHVNDC",
          "BLURVNDC",
          "BNBVNDC",
          "BTCVNDC",
          "FXSVNDC",
          "QTUMVNDC",
          "RACA1000VNDC",
          "RIFVNDC",
          "SATS1000VNDC",
          "STORJVNDC",
          "STPTVNDC",
          "CRVVNDC",
          "EDUVNDC",
          "GRTVNDC",
          "POWRVNDC",
          "PYTHVNDC",
          "ETHUSDT",
          "HFTVNDC",
          "ALPHAVNDC",
          "ICPVNDC",
          "ACEVNDC",
          "SUPERVNDC",
          "RATS1000VNDC",
          "NFPVNDC",
          "QIVNDC",
          "ARBVNDC",
          "AUCTIONVNDC",
          "KSMVNDC",
          "MOVRVNDC",
          "ARKMVNDC",
          "DENTVNDC",
          "ACHVNDC",
          "CELOVNDC",
          "DODOVNDC",
          "GODSVNDC",
          "JTOVNDC",
          "KASVNDC",
          "LOOKSVNDC",
          "MAGICVNDC",
          "MINAVNDC",
          "NEOVNDC",
          "HIGHVNDC",
          "IOSTVNDC",
          "JOEVNDC",
          "LEVERVNDC",
          "LINKVNDC",
          "MAVVNDC",
          "MKRVNDC",
          "NMRVNDC",
          "LINAUSDT",
          "ETHWVNDC",
          "ONEVNDC",
          "XEMVNDC",
          "BAKEVNDC",
          "BNXVNDC",
          "EGLDVNDC",
          "COREVNDC",
          "ETHVNDC",
          "MBLVNDC",
          "MEMEVNDC",
          "NTRNVNDC",
          "OPVNDC",
          "POLYXVNDC",
          "COMPVNDC",
          "MDTVNDC",
          "OCEANVNDC",
          "OPUSDT",
          "ONUSVNDC",
          "PEPE1000VNDC",
          "PERPVNDC",
          "RDNTVNDC",
          "SHIB1000VNDC",
          "ROSEVNDC",
          "SANDVNDC",
          "SEIVNDC",
          "ORDIVNDC",
          "BONDVNDC",
          "GLMRVNDC",
          "ADAVNDC",
          "AERGOVNDC",
          "APTVNDC",
          "SSVVNDC",
          "NKNVNDC",
          "RNDRVNDC",
          "SKLVNDC",
          "SLPVNDC",
          "SNTVNDC",
          "STARL1000VNDC",
          "STEEMVNDC",
          "STGVNDC",
          "FLOKI1000VNDC",
          "GALAVNDC",
          "ADAUSDT",
          "SOLUSDT",
          "IOTAVNDC",
          "HBARVNDC",
          "SPELLVNDC",
          "STMXVNDC",
          "STXVNDC",
          "SUIVNDC",
          "LUNC1000VNDC",
          "AXSVNDC",
          "SNXVNDC",
          "CETUSVNDC",
          "TRBVNDC",
          "RAREVNDC",
          "STRAXVNDC",
          "SXPVNDC",
          "TIAVNDC",
          "TOKENVNDC",
          "TRXVNDC",
          "TRUVNDC",
          "TWTVNDC",
          "USTCVNDC",
          "VICVNDC",
          "VINU1000000VNDC",
          "TVNDC",
          "UNFIVNDC",
          "WLDVNDC",
          "LINKUSDT",
          "ONGVNDC",
          "LPTVNDC",
          "OGNVNDC",
          "PENDLEVNDC",
          "PEOPLEVNDC",
          "UNIVNDC",
          "WAVESVNDC",
          "ARPAVNDC",
          "BANDVNDC",
          "BIGTIMEVNDC",
          "BNBUSDT",
          "ETCVNDC",
          "DYDXVNDC",
          "GASVNDC",
          "CTKVNDC",
          "BSVVNDC",
          "EOSVNDC",
          "FTMVNDC",
          "DOTVNDC",
          "BONK1000VNDC",
          "ONSVNDC",
          "AMBVNDC",
          "APEVNDC",
          "ARKVNDC",
          "ATAVNDC",
          "AUDIOVNDC",
          "BLZVNDC",
          "BNTVNDC",
          "CEEKVNDC",
          "CELVNDC",
          "KAVAVNDC",
          "KNCVNDC",
          "CFXVNDC",
          "LITVNDC",
          "AGIXVNDC",
          "BELVNDC",
          "WAXPVNDC",
          "MNAIVNDC",
          "WOOVNDC",
          "XRPVNDC",
          "YFIVNDC",
          "CTSIVNDC",
          "BTCUSDT",
          "COTIVNDC",
          "ORBSVNDC",
          "PEPE1000USDT",
          "XRPUSDT",
          "SOLVNDC",
          "FILVNDC",
          "GTCVNDC",
          "HIFIVNDC",
          "IDVNDC",
          "SUSHIVNDC",
          "XLMVNDC",
          "ZILVNDC",
          "API3VNDC",
          "COMBOVNDC",
          "ARBUSDT",
          "ETCUSDT",
          "SHIB1000USDT",
          "LINAVNDC",
          "LOOMVNDC",
          "GMTVNDC",
          "HOOKVNDC",
          "ICXVNDC",
          "KEYVNDC",
          "LDOVNDC",
          "LQTYVNDC",
          "LTCVNDC",
          "MASKVNDC",
          "PHBVNDC",
          "RADVNDC",
          "RUNEVNDC",
          "1INCHVNDC",
          "AGLDVNDC",
          "C98VNDC",
          "CELRVNDC",
          "DOGEVNDC",
          "NEARVNDC",
          "CHZVNDC",
          "CYBERVNDC",
          "DOGEUSDT",
          "FRONTVNDC",
          "GMXVNDC",
          "MATICVNDC",
          "MTLVNDC",
          "FLMVNDC",
          "BICOVNDC",
          "CAKEVNDC",
          "FETVNDC",
          "IMXVNDC",
          "XVSVNDC",
          "YGGVNDC",
          "ZRXVNDC",
          "INJVNDC"
        ];
        
        var tagLimits = [
          "AAVEVNDC|25",
          "ATOMVNDC|40",
          "AVAXVNDC|50",
          "BADGERVNDC|25",
          "BCHVNDC|75",
          "BLURVNDC|20",
          "BNBVNDC|75",
          "BTCVNDC|125",
          "FXSVNDC|25",
          "QTUMVNDC|25",
          "RACA1000VNDC|25",
          "RIFVNDC|50",
          "SATS1000VNDC|25",
          "STORJVNDC|30",
          "STPTVNDC|50",
          "CRVVNDC|30",
          "EDUVNDC|40",
          "GRTVNDC|25",
          "POWRVNDC|25",
          "PYTHVNDC|25",
          "ETHUSDT|100",
          "HFTVNDC|25",
          "ALPHAVNDC|25",
          "ICPVNDC|25",
          "ACEVNDC|50",
          "SUPERVNDC|25",
          "RATS1000VNDC|25",
          "NFPVNDC|50",
          "QIVNDC|25",
          "ARBVNDC|50",
          "AUCTIONVNDC|50",
          "KSMVNDC|25",
          "MOVRVNDC|25",
          "ARKMVNDC|25",
          "DENTVNDC|25",
          "ACHVNDC|25",
          "CELOVNDC|25",
          "DODOVNDC|25",
          "GODSVNDC|25",
          "JTOVNDC|25",
          "KASVNDC|25",
          "LOOKSVNDC|25",
          "MAGICVNDC|25",
          "MINAVNDC|25",
          "NEOVNDC|30",
          "HIGHVNDC|30",
          "IOSTVNDC|30",
          "JOEVNDC|16",
          "LEVERVNDC|30",
          "LINKVNDC|50",
          "MAVVNDC|40",
          "MKRVNDC|25",
          "NMRVNDC|10",
          "LINAUSDT|40",
          "ETHWVNDC|25",
          "ONEVNDC|25",
          "XEMVNDC|25",
          "BAKEVNDC|25",
          "BNXVNDC|25",
          "EGLDVNDC|25",
          "COREVNDC|25",
          "ETHVNDC|100",
          "MBLVNDC|25",
          "MEMEVNDC|25",
          "NTRNVNDC|25",
          "OPVNDC|50",
          "POLYXVNDC|25",
          "COMPVNDC|30",
          "MDTVNDC|25",
          "OCEANVNDC|25",
          "OPUSDT|50",
          "ONUSVNDC|10",
          "PEPE1000VNDC|30",
          "PERPVNDC|16",
          "RDNTVNDC|25",
          "SHIB1000VNDC|50",
          "ROSEVNDC|20",
          "SANDVNDC|50",
          "SEIVNDC|25",
          "ORDIVNDC|30",
          "BONDVNDC|25",
          "GLMRVNDC|20",
          "ADAVNDC|50",
          "AERGOVNDC|50",
          "APTVNDC|50",
          "SSVVNDC|30",
          "NKNVNDC|30",
          "RNDRVNDC|30",
          "SKLVNDC|25",
          "SLPVNDC|25",
          "SNTVNDC|25",
          "STARL1000VNDC|25",
          "STEEMVNDC|25",
          "STGVNDC|25",
          "FLOKI1000VNDC|30",
          "GALAVNDC|50",
          "ADAUSDT|50",
          "SOLUSDT|50",
          "IOTAVNDC|50",
          "HBARVNDC|25",
          "SPELLVNDC|25",
          "STMXVNDC|15",
          "STXVNDC|50",
          "SUIVNDC|40",
          "LUNC1000VNDC|50",
          "AXSVNDC|25",
          "SNXVNDC|25",
          "CETUSVNDC|25",
          "TRBVNDC|20",
          "RAREVNDC|25",
          "STRAXVNDC|25",
          "SXPVNDC|25",
          "TIAVNDC|25",
          "TOKENVNDC|25",
          "TRXVNDC|50",
          "TRUVNDC|30",
          "TWTVNDC|25",
          "USTCVNDC|50",
          "VICVNDC|30",
          "VINU1000000VNDC|25",
          "TVNDC|25",
          "UNFIVNDC|25",
          "WLDVNDC|25",
          "LINKUSDT|50",
          "ONGVNDC|25",
          "LPTVNDC|10",
          "OGNVNDC|25",
          "PENDLEVNDC|25",
          "PEOPLEVNDC|30",
          "UNIVNDC|50",
          "WAVESVNDC|30",
          "ARPAVNDC|30",
          "BANDVNDC|25",
          "BIGTIMEVNDC|25",
          "BNBUSDT|75",
          "ETCVNDC|75",
          "DYDXVNDC|50",
          "GASVNDC|25",
          "CTKVNDC|20",
          "BSVVNDC|50",
          "EOSVNDC|75",
          "FTMVNDC|30",
          "DOTVNDC|40",
          "BONK1000VNDC|25",
          "ONSVNDC|15",
          "AMBVNDC|20",
          "APEVNDC|40",
          "ARKVNDC|25",
          "ATAVNDC|25",
          "AUDIOVNDC|20",
          "BLZVNDC|20",
          "BNTVNDC|25",
          "CEEKVNDC|25",
          "CELVNDC|25",
          "KAVAVNDC|30",
          "KNCVNDC|30",
          "CFXVNDC|50",
          "LITVNDC|25",
          "AGIXVNDC|50",
          "BELVNDC|30",
          "WAXPVNDC|50",
          "MNAIVNDC|15",
          "WOOVNDC|20",
          "XRPVNDC|50",
          "YFIVNDC|25",
          "CTSIVNDC|25",
          "BTCUSDT|125",
          "COTIVNDC|20",
          "ORBSVNDC|25",
          "PEPE1000USDT|30",
          "XRPUSDT|50",
          "SOLVNDC|50",
          "FILVNDC|50",
          "GTCVNDC|25",
          "HIFIVNDC|25",
          "IDVNDC|40",
          "SUSHIVNDC|25",
          "XLMVNDC|25",
          "ZILVNDC|25",
          "API3VNDC|25",
          "COMBOVNDC|25",
          "ARBUSDT|50",
          "ETCUSDT|75",
          "SHIB1000USDT|50",
          "LINAVNDC|40",
          "LOOMVNDC|25",
          "GMTVNDC|25",
          "HOOKVNDC|25",
          "ICXVNDC|20",
          "KEYVNDC|30",
          "LDOVNDC|50",
          "LQTYVNDC|25",
          "LTCVNDC|75",
          "MASKVNDC|50",
          "PHBVNDC|25",
          "RADVNDC|20",
          "RUNEVNDC|25",
          "1INCHVNDC|25",
          "AGLDVNDC|25",
          "C98VNDC|25",
          "CELRVNDC|25",
          "DOGEVNDC|50",
          "NEARVNDC|40",
          "CHZVNDC|25",
          "CYBERVNDC|20",
          "DOGEUSDT|50",
          "FRONTVNDC|25",
          "GMXVNDC|50",
          "MATICVNDC|50",
          "MTLVNDC|30",
          "FLMVNDC|20",
          "BICOVNDC|20",
          "CAKEVNDC|25",
          "FETVNDC|25",
          "IMXVNDC|25",
          "XVSVNDC|20",
          "YGGVNDC|15",
          "ZRXVNDC|25",
          "INJVNDC|30"
        ];

        $( "#symbol" ).autocomplete({
          source: availableTags,
          select: function( event, ui ) {
            const item = tagLimits.find(x => x.indexOf(ui.item.value) != -1);
            const maxLeverage = item.split('|')[1];
            $("#leverage").html('');
            for (var i = 0; i <= maxLeverage; i++) {
              if (i % 5 == 0 && i >= 10) {
                $("#leverage").append('<option value='+i+'>'+i+'</option>');
              }
            }
          }
        });

        $("button[type=submit]").click(function() {
          $(".error, .success").hide();
        });

        $("#showList").click(function() {
          $("table tbody").html('');
          $.get("/list",
            function(data, status){
              if(Object.keys(data).length) {
                data.forEach(x => {
                  const typeColor = (parseInt(x.size) > 0) ? 'green' : 'red';
                  var html = '<tr>';
                  html += '<td style="border-left: 5px solid '+ typeColor +'">' + x.symbol + ' x' + x.leverage + '</td>';
                  html += '<td>S: ' + Math.abs(x.size) + '<br>';
                  html += 'P: ' + Math.abs(x.entryPrice).toLocaleString('en-US') + '<br>';
                  html += 'V: ' + Math.abs(x.size*x.entryPrice).toLocaleString('en-US');
                  html += '</td>';
                  html += '<td style="text-align: center">';
                  html += '<a href="javascript:;" onclick="closeSymbol(this, '+x.id+', \''+x.symbol+'\', '+x.size/2+')">';
                  html += 'Đóng 50%';
                  html += '</a>';
                  html += '</td>';
                  html += '<td style="text-align: center">';
                  html += '<a href="javascript:;" onclick="closeSymbol(this, '+x.id+', \''+x.symbol+'\', '+x.size+')">';
                  html += 'Đóng 100%';
                  html += '</a>';
                  html += '</td>';
                  html += '</tr>';
                  $("table tbody").append(html);
                });
              } else {
                $("table tbody").html('Bạn không có vị thế nào');
              }
            }
          );
        });
        
        setTimeout(function() {
          $("#showList").trigger('click');
        }, 2000);
      });

      function closeSymbol(el, id, symbol, size) {
        $("table tbody").html('');
        $.post("/close",
          {id, size, symbol},
          function(data, status){
            setTimeout(function() {
              $("#showList").trigger('click');
            }, 2000);
          }
        );
      }
    </script>
  </body>
</html>
